[submodule "rss_ws/src/apriltag"]
	path = rss_ws/src/apriltag
	url = git@github.com:AprilRobotics/apriltag.git
[submodule "rss_ws/src/apriltag_ros"]
	path = rss_ws/src/apriltag_ros
	url = git@github.com:AprilRobotics/apriltag_ros.git
